// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* RGB Palette*/
$clearyellow: rgba(242, 243, 174, 1);
$yellow: rgba(237, 211, 130, 1);
$orange: rgba(252, 158, 79, 1);
$red: rgba(230, 75, 56, 1);
$darkblue: rgba(2, 1, 34, 1);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sideMenu {
  padding-top: 40px;
  width: 84px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: rgb(230, 75, 56);
  color: white;
  height: 100vh;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  z-index: 1000;

  &__link {
    height: auto;
    color: inherit;
    text-decoration: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

    &--active#{&} {
      background: $red;
    }

    .icon {
      height: 34px;
      width: 34px;
    }
  }
}

.inventoryPanel {
  padding: 0 0 0 140px;

  .inventoryHeader {
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 221, 227);
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background: white;
  }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .loader {
      left: 50%;
      margin-left: 2em;
      border: solid 0.8em $red;
      border-left: 0.8em solid $orange;
      border-radius: 3em;
      font-size: 10px;
      top: 60%;
      position: absolute;
      width: 3em;
      height: 3em;
      opacity: 0.4;
      animation: spin 1.2s infinite linear;
    }
  }
}

.thingsList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.thing {
  background: #dadde3 url(image_placeholder);
  border: solid #dadde3 1px;
  border-radius: 3px;
  width: 264px;
  height: 264px;
  margin: 10px;
  box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.15);

  &:hover {
    background: #aab46dbb;
  }
}
