// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.thing {
    background: #d3d17f;
    border: solid black 1px;
    border-radius: 3px;
    
    &:hover {
        background: #aab46dbb;
    }
}